<div id="left-sidebar" class="left-sidebar ">
    <!-- main-nav -->
    <div class="sidebar-scroll">
        <nav class="main-nav">
            <ul class="main-menu">
                <li class="active">

                    <ul class="sub-menu open">
                        <li class="active">
                            <a [routerLink]="['/template/cita']">
                                <span class="text">Historial</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/template/historial']">
                                <span class="text">Cita Médica</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/template/ajustes']">
                                <span class="text">Ajustes </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/template/reportes']">
                                <span class="text">Reportes</span>
                            </a>
                        </li>



                    </ul>
                </li>





            </ul>
        </nav>
        <!-- /main-nav -->
    </div>
</div>